img {
    width: 100%;
}

body,
button {
    color: white;
}

nav {
    position: fixed;
    user-select: none;
    z-index: 1;
    padding: 1em;

    overflow-y: scroll;
}

nav div,
img {
    cursor: pointer;
}

button {
    display: block;
    border: none;
    text-align: left;
    width: 100%;
    background: none;
    font-size: 6em;
    cursor: pointer;
}

button.selected {
    color: red;
}

button.hidden {
    opacity: 0.25;
}

section.hidden {
    display: none;
}

.dimmed section {
    filter: brightness(0.25);
}

:not(.dimmed)>nav {
    display: none !important;
}
