/* wrap.css */
table{
	direction: rtl;
    margin: 0 auto;
    border-collapse: collapse;
}

td{
    border-top: 10px solid #39c5bb;
    border-bottom: 10px solid #39c5bb;
    padding: 0;
}

tr td:first-child img{
    float:left;
}
