/* version 20210527 */
@media screen and (orientation: portrait){
    body{
        width: 100%;
    }
}
@media screen and (orientation: landscape){
    body{
        width: 200%;
    }
}

body{
    margin: 0;
    color: white;
    background: black;
    user-select: none;
}
