/* tab.css version 20210415 */
#select{
    font-size: 8em;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: scroll;
	z-index: 1;
}

#select p{
	padding: 10px;
	margin: 0 auto;
}

.off{
	filter: brightness(30%);
}
