/* wrap.css */
body{
    direction:rtl;
    white-space: nowrap;
}

img{
	margin: 10px auto;
}

#content{
    /* remove whitespace in between images */
    /* https://stackoverflow.com/a/5647640 */
    font-size: 0;
}
