/* wrap.css version 20210415 */
body{
    direction:rtl;
    white-space: nowrap;
    /* remove whitespace in between images */
    /* https://stackoverflow.com/a/5647640 */
    font-size: 0;
}

img{
	margin: 10px auto;
}
